{% extends "base.html" %}
{% block title %}Configuración de Nueva contraseña{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="page-header"><h2>Restablecer la contraseña</h2></div>
            {% if validlink %}
                <p>Por favor, introduzca su nueva contraseña dos veces.<br />
                   Así podemos comprobar que ha escrito la forma adecuada.</p>
                <form action="" method="post">
                    <div style="display:none">
                        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                    </div>
                    <table>
                        <tr>
                            <td>{{ form.new_password1.errors }}
                                <label for="id_new_password1">Nueva contraseña:</label></td>
                            <td>{{ form.new_password1 }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.new_password2.errors }}
                                <label for="id_new_password2">Confirmar contraseña:</label></td>
                            <td>{{ form.new_password2 }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button type="submit" class="btn btn-warning">Cambiar contraseña</button></td>
                        </tr>
                    </table>
                </form>
            {% else %}
                <h1>Restablecimiento de contraseña sin éxito.</h1>
                <p>El enlace de restablecimiento de contraseña no es válido, <br />
                    posiblemente debido a que ya se ha utilizado. <br />
                    Solicita un nuevo restablecimiento de contraseña.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}