{% extends "base.html" %}

{% block title %}Restablecer la contraseña{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="page-header"><h2>Restablecer la contraseña</h2></div>
            <p>Por favor, indique su dirección de correo electrónico para recibir instrucciones de reinicio.</p>
            <form action="" method="post">
                <div style="display:none">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>
                {{ form.email.errors }}
                <p>
                <div class="form-group">
                    <label class="control-label" for="id_email">Correo:</label>
                    {{ form.email }}
                    <button type="submit" class="btn btn-warning">Restablecer</button>
                </div>

                </p>
            </form>
        </div>
    </div>
{% endblock %}